<article class="photo">
  {{partial logo-top}}
  <img src="{{image_url}}" style="max-width:100%;">
  <div class="photo-overlay" />
  <section style="height:180px;top:130px;">
    <p {{p_options}}>
      {{content}}
    </p>
  </section>
  {{footer}}
</article>
