<article class="photo">
  <img src="<%= @image_url %>" style="max-width:100%;">
  <div class="photo-overlay" />
  <section style="height:180px;top:130px;">
    <p>
      <%= @content %>
    </p>
  </section>
</article>
