<article>
  <section>
    <div class="layout-figure">
      <div class="align-center">
        <%= @content.left %>
      </div>
      <div>
        <div class="text-normal">
          <%= @content.right %>
        </div>
      </div>
    </div>
  </section>
</article>
