<article>
  <section>
    <div class="layout-figure">
      <div class="align-center">
        {{content_left}}
      </div>
      <div>
        <div class="text-normal">
          {{content_right}}
        </div>
      </div>
    </div>
  </section>
  {{footer}}
</article>
