<article>
  <section>
    <div class="layout-figure">
      <div class="align-center">
        <%= @left_content %>
      </div>
      <div>
        <div class="text-normal">
          <%= @right_content %>
        </div>
      </div>
    </div>
  </section>
</article>
