<article>
  <figure>
    <img src="{{image_url}}" {{img_options}}>
  </figure>
  <section {{section_options}}>
    <table {{table_options}}> 
      {{table_header}}
      {{table_rows}}
    </table>
  </section>
  {{footer}}
</article>
